<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <title>Create a new account!</title>
</head>

<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em;">
  <h3><b>Create a new account!</b></h3>
  <form method="POST" action="/register">
    <div class="mb-3">
      <label for="email" class="form-label"><b>Email address:</b></label>
      <input type="email" placeholder="Enter email" name="email" class="form-control" id="emailinput" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"><b>Password:</b></label>
      <input type="password" placeholder="Password" name="password" class="form-control" id="passwordinput">
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Your personal data is safe with us.">Submit</button>
  </form>
</main>
</body>
</html>